@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Black.ttf);
  }
  
  @font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
  }
  
  @font-face {
    font-family: RobotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
  }
  
  header .myNavBar {
    background-color: #293241 !important;
  }
  
  header .myNavBar a {
    color: #fff !important;
  }
  
  header .myNavBar .myAccountDrop {
    width: 100%;
  }
  
  header .myNavBar .myAccountDrop button {
    color: #fff;
  }
  
  header .myNavBar .myAccountDrop a {
    color: #365ca9 !important;
  }
  
  main {
    padding-top: 3%;
    width: 100%;
  }
  
  main h1 {
    color: #3d5a80;
    padding-bottom: 1%;
  }
  
  main .mainParts {
    color: #fff;
    padding: 2%;
    border-radius: 20px;
    font-size: 1.5em;
    -webkit-box-shadow: 5px 10px 8px #888888;
            box-shadow: 5px 10px 8px #888888;
  }
  
  main .firstPart {
    background-color: #3d5a80;
    padding: 4%
  }
  
  main .secondPart {
    background-color: #ee6c4d;
    padding: 4%
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    main h1 {
      font-size: 1.4em;
      margin-bottom: 0;
    }
    main .myContainer {
      width: 90%;
      margin: auto;
    }
    main .mainParts {
      font-size: 1.2em;
      padding: 5%;
    }
  }
  
  footer {
    width: 100%;
    background-color: #3d5a80;
  }
  
  footer p {
    color: #fff;
    padding: 2%;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
  
  main .back {
    color: white;
    background-color: #ee6c4d;
    border: 2px solid #ee6c4d;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 0 #ffff;
    -webkit-transition: all 1s;
    transition: all 1s;
    padding: 2%;
  }
  
  main .back:hover {
    color: #ee6c4d;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 0 #ffff;
    -webkit-box-shadow: inset 0 0 0 50px #ffff;
            box-shadow: inset 0 0 0 50px #ffff;
  }
  
  main .approve {
    color: white;
    background-color: #3d5a80;
    border: 2px solid #3d5a80;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 0 #ffff;
    -webkit-transition: all 1s;
    transition: all 1s;
    padding: 2%;
  }
  
  main .approve:hover {
    color: #3d5a80;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 0 #ffff;
    -webkit-box-shadow: inset 0 0 0 50px #ffff;
            box-shadow: inset 0 0 0 50px #ffff;
  }
  
  main .decline {
    color: white;
    background-color: #3d5a80;
    border: 2px solid #3d5a80;
    outline: none;
    -webkit-box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 0 #ffff;
    -webkit-transition: all 1s;
    transition: all 1s;
    padding: 2%;
  }
  
  main .decline:hover {
    color: #3d5a80;
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 0 #ffff;
    -webkit-box-shadow: inset 0 0 0 50px #ffff;
            box-shadow: inset 0 0 0 50px #ffff;
  }
  
  /*# sourceMappingURL=style.css.map */