$darkBlue:#3d5a80;
$ligtBlue:#98c1d9;
$whiteBlue:#e0fbfc;
$orange:#ee6c4d;
$lightBlack:#293241;

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Black.ttf);
  }
  @font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
  }
  @font-face {
    font-family: RobotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
  }

header{
    .myNavBar{
        background-color: $lightBlack!important;
        a{
            color: #fff!important;
        }
        .myAccountDrop{
            width:100%;
            button{
                color: #fff;
            }
            a{
                color:#365ca9!important;
            }
        }
    }
}

main{
    h1{
        color:$darkBlue;
    }  
    .createAccount{
        color: white;
        background-color: $orange;
        border: 2px solid $orange;
        outline: none;
        box-shadow: inset 0 0 0 0 #ffff;
        transition: all 1s;
        padding: 2%;
        &:hover{
            color: $orange;
            background-color: white;
            box-shadow: inset 0 0 0 0 #ffff;
            box-shadow: inset 0 0 0 50px #ffff;
        }
    }
    p{
        color: $darkBlue;
        display: inline-block;
    }  
    hr{
        display: inline-block;
        margin-bottom: 0.4%;
        width: 86%;
        background-color: $darkBlue;
    }
    .myTable{
        width: 100%;
        thead{
            width: 100%;
            background-color: $darkBlue;
            color: #fff;
        }
        tbody{
            width: 100%;
            tr{
                width: 100%;
                border-bottom: 10px solid #fff;
                th,
                td{
                    background-color: $ligtBlue;
                    a{
                        color: $orange;
                    }
                }
            }
        }
    }
    .confirmPart{
        .confirm{
            color: white;
            background-color: $orange;
            border: 2px solid $orange;
            outline: none;
            box-shadow: inset 0 0 0 0 #ffff;
            transition: all 1s;
            border-radius: 3px;
            &:hover{
                color: $orange;
                background-color: white;
                box-shadow: inset 0 0 0 0 #ffff;
                box-shadow: inset 0 0 0 50px #ffff;
            }
        }
    }
    .adminOverview{
            .overViewBtn{
                color: white;
                background-color: $darkBlue;
                border: 2px solid $darkBlue;
                outline: none;
                box-shadow: inset 0 0 0 0 #ffff;
                transition: all 1s;
                border-radius: 3px;
                padding: 0.3% 1%;
                &:hover{
                    color: $darkBlue;
                    background-color: white;
                    box-shadow: inset 0 0 0 0 #ffff;
                    box-shadow: inset 0 0 0 50px #ffff;
                }
            }
    }
}

@media screen and (min-width:320px) and (max-width:767px){
    main{
        h1{
            font-size: 1.4em;
            margin-bottom: 0;
        }
        .myContainer{
            overflow-x: auto;
            width: 90%;
            margin: auto;
            .createAccount{
                margin-top: 0!important;
                margin-bottom: 2%;
            }
            p{
                margin-top: 3%;
            }
            hr{
                display: none;
            }
            .myTable{
                tr{
                    td,
                    th{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}


footer{
    width: 100%;
    background-color: $darkBlue;
    p{
        color: #fff;
        padding: 2%;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
}