@model SysModelBank.Models.Transaction.NewTransactionModel

@{
    ViewData["Title"] = "New transaction";
}

<div class="container myContainer mb-5">
    <h1 class="mt-3 mb-3">New Transaction</h1>
    <div class="row">
        <div class="col-12">
            <form asp-controller="ClientTransaction" asp-action="CreateTransaction" method="post">
                <input asp-for="TransactionCode" type="hidden"/>
                <div class="form-group">
                    <label asp-for="TransactionSource">Source account:</label>
                    <select asp-for="TransactionSource" asp-items="Model.AvailableAccounts" required>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="TransactionRecipient">Recipient account:</label>
                    <input asp-for="TransactionRecipient" type="text" class="form-control" id="recipientId" required disabled="@(Model.TransactionCode != null)">
                </div>
                <div class="form-group">
                    <label asp-for="TransactionAmount">Amount:</label>
                    <input asp-for="TransactionAmount" type="text" class="form-control" id="amount" required disabled="@(Model.TransactionCode != null)">

                </div>
                <div class="form-group">
                    <label asp-for="TransactionDescription">Description:</label>
                    <input asp-for="TransactionDescription" type="text" class="form-control" id="description" required disabled="@(Model.TransactionCode != null)">
                </div>
                <button type="submit" class="btn btn-block formButton">Create</button>
            </form>
        </div>

    </div>
</div>