@using Microsoft.AspNetCore.Identity
@using SysModelBank.Data.Models.Identity
@inject SignInManager<User> SignInManager

<header id="navigation">
    <nav class="myNavBar navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Overview" asp-action="Index">SysMod Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarNavAltMarkup">
            <div class="col-md-1"></div>
            <div class="navbar-nav col-md-9">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <a class="nav-link ml-auto" asp-area="" asp-controller="Identity" asp-action="Index"><b>Login</b></a>
                    <a class="nav-link" asp-area="" asp-controller="Identity" asp-action="Register"><b>Register</b></a>
                }
                else
                {
                    <a class="nav-link" asp-area="" asp-controller="Overview" asp-action="Index">Overview</a>
                    <a class="nav-link" asp-area="" asp-controller="ClientTransaction" asp-action="Index">Transactions</a>
                    <a class="nav-link" asp-area="" asp-controller="ClientTransaction" asp-action="New">New transaction</a>
                    <form asp-controller="ClientTransaction" asp-action="New" method="get">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-2"><input type="text" name="transaction_code" id="transaction_code" placeholder="Enter transaction code"></div>
                            <div class="p-2 confirmPart"><button class="confirm">Confirm</button></div>
                        </div>
                    </form>
                    <a class="nav-link ml-auto" asp-area="" asp-controller="User" asp-action="Index" class="dropdown-item">Account info</a>
                    <a class="nav-link" asp-area="" asp-controller="Identity" asp-action="Logout" class="dropdown-item">Log out</a>
                }
            </div>
        </div>
    </nav>
</header>