@model SysModelBank.Models.Overview.OverviewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-area="Admin" asp-controller="UserManagement" asp-action="Index">Users</a><br />
<a asp-area="Admin" asp-controller="TransactionsOverview" asp-action="Index">Transactions</a><br />
<a asp-area="Admin" asp-controller="LogOverview" asp-action="Index">Logs</a>
<div>
    <h4>User</h4>
    <hr />
    @Model.UserAccounts.Count()
<form asp-controller="Account" asp-action="CreateAccount">
    <input type="submit" />
</form>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
