@model SysModelBank.Models.Identity.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/register.css">

<div class="container myContainer mb-5">
    <h1 class="mt-3 mb-3">Register</h1>
    <div class="row">
        <div class="col-12">
            <form asp-controller="Identity" asp-action="Register">
                <div class="form-group">
                    <label asp-for="Firstname">Firstname:</label>
                    <input asp-for="Firstname" type="text" class="form-control" id="firstname" aria-describedby="emailHelp">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname">Lastname:</label>
                    <input asp-for="Lastname" type="text" class="form-control" id="lastname" aria-describedby="emailHelp">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username">Username:</label>
                    <input asp-for="Username" type="text" class="form-control" id="username" aria-describedby="usernameHelp">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone:</label>
                    <input asp-for="Phone" type="text" class="form-control" id="phone" aria-describedby="emailHelp">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address">Address:</label>
                    <input asp-for="Address" type="text" class="form-control" id="address" aria-describedby="emailHelp">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-block formButton">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
